<li class="quiz_category">
  <div class="graph">
    <span class="bar <%= bar_color(current_user, title) %>" style="width: <%= get_learning_level(current_user, title) %>%;">
      <%= get_learning_level(current_user, title) %>
    </span>
　　</div>
  <span class="title_name bold center inline"><%= title.name %></span>
  <%= link_to play_quiz_path(title), class: "edit_button inline" do %>
    <%= icon("far", "play-circle") %>Play
  <% end %>
  <%= link_to play_mistakes_quiz_path(title), class: "delete_button inline" do %>
    <%= icon("far", "play-circle") %>Mistakes
  <% end %>
  <p class="chart_button inline" id=<%= title.id %>>
    <%= icon("fas", "chart-line") %>Score
  </p>
  <%= link_to mistakes_path(id: title.id), class: "show_mistakes_button inline" do %>
    <%= icon("fas", "tasks") %>records
  <% end %>
</li>
