<div>
  <%= form_with do |f| %>
    <div id="level" class="field">
      <span>Level</span>
      <%= f.select :level, @level_options, { include_blank: false ,prompt: "選択してください" }, id: 'select_level', class: 'index_page' %>
    </div>
    <div id="section" class="field">
      <span>Section</span>
      <%= f.select :section,[], { include_blank: true }, id: 'select_section', class: 'index_page' %>
    </div>
    <div id="title" class="field">
      <span>Title</span>
      <%= f.select :category, [], { include_blank: true }, id: 'select_title', class: 'index_page' %>
    </div>
  <% end %>
</div>
<table class="quiz-columns">
  <thead>
    <tr>
      <th>id</th>
      <th>question</th>
      <th>Answer</th>
      <th>choice2</th>
      <th>choice3</th>
      <th>choice4</th>
      <th></th>
    </tr>
  </thead>
  <tbody class="quiz-row quizzes_index">
    <%= render partial: 'edit_quizzes_index', collection: @quizzes, as: :quiz %>
  </tbody>
</table>