<% content_for(:html_title) { "Quiz - #{@category.name}" } %>
<%= render 'breadcrumbs' %>
<div class="quiz_wrapper">
  <div class="question_box">
    <p id="quiz_count"></P>
    <div id="question"></div>
    <p id="correct_circle" class="hidden"></p>
    <p id="wrong_cross" class="hidden">×</p>
  </div>
  <div class="choicesContents">
    <ul id="choices"></ul>
    <div id="quiz_btn" class="quizAction disabled">Next</div>
  </div>
</div>
<div class="user_menu_in_mobile hidden">
  <%= render "user_menu_in_mobile" %>
</div>
<%= render "score_modal", level: @category.ancestors.first  %>
<%= javascript_include_tag 'quiz.js' %>
<%= javascript_include_tag 'show_charts.js' %>