<div class="upper_block">
  <div class="to_do_list_panel pc">
    <%= render "to_do_list" %>
  </div>
  <div class="upper_menu_panel_wrapper">
    <%= link_to articles_path, class: "panel_article" do %>
      <div class="menu_panel article_panel">
        <div class="panel_inner_box">
          <p class="menu_name">ARTICLE<br><%= icon("fas", "newspaper") %></p>
        </div>
      </div>
    <% end %>
    <%= link_to quiz_categories_path do %>
      <div class="menu_panel quiz_panel">
        <div class="panel_inner_box">
          <p class="menu_name">QUIZ<br><%= icon("fas", "question") %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<div class="under_block">
  <%= link_to communities_path, class: "panel_community" do %>
    <div class="menu_panel community_panel">
      <div class="panel_inner_box">
        <p class="menu_name">COMMUNITY<br><%= icon("fas", "users") %></p>
      </div>
    </div>
  <% end %>
  <%= link_to feed_talks_path, class: "panel_talk" do %>
    <div class="menu_panel talk_panel">
      <div class="panel_inner_box">
        <p class="menu_name">Feed<br><%= icon("fas", "comments") %></p>
      </div>
    </div>
  <% end %>
  <%= link_to ranking_path, class: "panel_ranking" do%>
    <div class="menu_panel ranking_panel">
      <div class="panel_inner_box">
        <p class="menu_name">RANKING<br><%= icon("fas", "crown") %></p>
      </div>
    </div>
  <% end %>
</div>
<div class="user_menu_in_mobile hidden">
  <%= render "user_menu_in_mobile" %>
</div>