<div class="row ">
  <div class="col-md-4 ">
    <div class="card redBtn link">
      <h1 class="text-center">Quiz</h1>
      <%= link_to "",quizzes_path %>
    </div>
  </div >
  <div class="col-md-4 ">
    <div class="card yellowBtn link">
      <h1 class="text-center">Score</h1>
      <%= link_to "", score_records_path %>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="card blue2Btn link">
        <h1 class="text-center">News</h1>
        <%= link_to "",articles_path %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card red2Btn link">
    <% if user_signed_in? %>
      <h1 class="text-center">Talk</h1>
    <% else %>
      <button id="openLoginModal">create community</button>
    <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card pinkBtn link">
    <% if user_signed_in? %>
      <h1 class="text-center">Log Out</h1>
      <%= link_to "",destroy_user_session_path, method: :delete%>
    <% elsif admin_signed_in? %>
      <%= link_to destroy_admin_session_path , method: :delete do %>
        <h1 class="text-center">Admin Logout</h1>
      <% end %>
    <% else %>
    <h1 class="text-center">Admin Login</h1>
      <%= link_to "",new_admin_session_path %>
    <% end %>
    </div>
  </div>
</div>

