<div class="row ">
  <div class="col-md-4 ">
    <div class="card redBtn link">
      <% if admin_signed_in? %>
        <h1 class="text-center">Edit Quiz</h1>
        <%= link_to "",quiz_title_index_path %>
      <% else %>
        <h1 class="text-center">Quiz</h1>
        <%= link_to "",quiz_index_path %>
      <% end %>
    </div> 
    <%= icon("far", "comment-dots") %>
    <%= icon("fas", "edit") %>
    <%= icon("fas", "user-cog") %>
    <%= icon("fas", "chart-line") %>
    <%= icon("fas", "trash-alt") %>
    <%= icon("fas", "heart") %>
    <%= icon("far", "heart") %>
    <%= icon("fas", "star") %>
    <%= icon("far", "star") %>
    <%= icon("fas", "marker-alt") %>
    <%= icon("fas", "comments") %>
    <%= icon("fas", "id_card") %>
    <%= icon("fas", "passport") %>
    <%= icon("fas", "envelope") %>
    <%= icon("fas", "key") %>
    <%= icon("fas", "users") %>
    <%= icon("fas", "sign-in-alt") %>
    <%= icon("fas", "map-marker-alt") %>
    <%= icon("fas", "user") %>
  </div >
  <div class="col-md-4 ">
    <div class="card yellowBtn link">
      <h1 class="text-center">Score</h1>
      <%= link_to "", score_record_path %>
    </div>
  </div>
  <div class="col-md-4 ">
    <div class="card blue2Btn link">
        <h1 class="text-center">News</h1>
        <%= link_to "",articles_index_path %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card red2Btn link">
    <% if user_signed_in? %>
      <h1 class="text-center">Talk</h1>
    <% else %>
      <button id="openLoginModal">create community</button>
    <% end %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card pinkBtn link">
    <% if user_signed_in? %>
      <h1 class="text-center">Log Out</h1>
      <%= link_to "",destroy_user_session_path, method: :delete%>
    <% elsif admin_signed_in? %>
    <h1 class="text-center">Admin Logout</h1>
      <%= link_to "",destroy_admin_session_path , method: :delete%>
    <% else %>
    <h1 class="text-center">Admin Login</h1>
      <%= link_to "",new_admin_session_path %>
    <% end %>
    </div>
  </div>
</div>

