<div class="row ">

  <div class="col-md-4 ">
        <div class="card redBtn link">
          <% if admin_signed_in? %>
            <h1 class="text-center">Edit Quiz</h1>
            <%= link_to "",quiz_title_index_path %>
          <% else %>
            <h1 class="text-center">Quiz</h1>
            <%= link_to "",quiz_index_path %>
          <% end %>
        </div> 
  </div >

  <div class="col-md-4 ">
        <div class="card yellowBtn link">
          <h1 class="text-center">Score</h1>
          <%= link_to "", score_board_path %>
        </div>
  </div>

  <div class="col-md-4 ">
        <div class="card blue2Btn link">
          <% if admin_signed_in? %>
            <h1 class="text-center">create Quiz</h1>
            <%= link_to "", new_quiz_path %>
          <% elsif user_signed_in? %>
            <h1 class="text-center">Last Quiz </h1>
            <%= link_to "",new_user_registration_path %>
          <% else %>
            <h1 class="text-center">not login </h1>
            <%= link_to "",new_user_registration_path %>
          <% end %>
        </div>
  </div>

  <div class="col-md-4">
        <div class="card red2Btn link">
          <h1 class="text-center">Talk</h1>
          <br>
          <br>
          <%= link_to "", talks_path %>
        </div>
  </div>

  <div class="col-md-4">
        <div class="card greenBtn link">
          <% if user_signed_in? %>
            <h1 class="text-center">Profile</h1>
            <%= link_to "","quizzes/index" %>
          <% else %>
            <h1 class="text-center">Login?</h1>
            <%= link_to "",new_user_session_path %>
          <% end %>
        </div>
  </div>

  <div class="col-md-4">
        <div class="card pinkBtn link">
        <% if user_signed_in? %>
          <h1 class="text-center">Log Out</h1>
          <%= link_to "",destroy_user_session_path, method: :delete%>
        <% elsif admin_signed_in? %>
        <h1 class="text-center">Admin Logout</h1>
          <%= link_to "",destroy_admin_session_path , method: :delete%>
        <% else %>
        <h1 class="text-center">Admin Login</h1>
          <%= link_to "",new_admin_session_path %>
        <% end %>
        </div>
  </div>

  <div class="col-md-4">
        <div class="card green2Btn link">
          <h1 class="text-center">Edit Profile</h1>
          <%= link_to "",edit_user_registration_path %>
        </div> 
  </div >

  <div class="col-md-4">
        <div class="card blueBtn link">
        <% if user_signed_in? | admin_signed_in?  %>
          <h1 class="text-center">Logout</h1>
          <%= link_to "",destroy_user_session_path, method: :delete %>
        <% else %>
          <h1 class="text-center">none</h1>
          <%= link_to "",destroy_user_session_path, method: :delete %>
        <% end %>
        </div> 
  </div >

  <div class="col-md-4">
        <div class="card brownBtn link">
          <h1 class="text-center">About us</h1>
          <%= link_to "","quizzes/index" %>
        </div> 
  </div>


</div>

