<<<<<<< HEAD

<div class="row ">

  <div class="col-md-4 ">
        <div class="card redBtn link">
          <h1 class="text-center">Quiz</h1>
          <%= link_to "","quizzes/index" %>
        </div> 
  </div >

  <div class="col-md-4 ">
        <div class="card yellowBtn link">
          <h1 class="text-center">Score</h1>
          <%= link_to "", score_board_path %>
        </div>
  </div>

  <div class="col-md-4 ">
        <div class="card blue2Btn link">
          <% if user_signed_in? %>
            <h1 class="text-center">Last Quiz </h1>
            <%= link_to "","quizzes/index" %>
          <% else %>
            <h1 class="text-center">Register! </h1>
            <%= link_to "",new_user_registration_path %>
          <% end %>
        </div>
  </div>

  <div class="col-md-4">
        <div class="card red2Btn link">
          <h1 class="text-center">Talk</h1>
          <br>
          <br>
          <%= link_to "", talk_path %>
        </div>
  </div>

  <div class="col-md-4">
        <div class="card greenBtn link">
          <% if user_signed_in? %>
            <h1 class="text-center">Profile</h1>
            <%= link_to "","quizzes/index" %>
          <% else %>
            <h1 class="text-center">Login?</h1>
            <%= link_to "",new_user_session_path %>
          <% end %>
        </div>
  </div>

  <div class="col-md-4">
        <div class="card pinkBtn link">
          <h1 class="text-center">Calendar</h1>

          <%= link_to "",calendar_path %>
        </div>
  </div>

  

  

  <div class="col-md-4">
        <div class="card green2Btn link">
          <h1 class="text-center">Edit Profile</h1>
          <%= link_to "",edit_user_registration_path %>
        </div> 
  </div >

  <div class="col-md-4">
        <div class="card blueBtn link">
          <h1 class="text-center">Logout</h1>
          <%= link_to "",destroy_user_session_path, method: :delete %>
        </div> 
  </div >

  <div class="col-md-4">
        <div class="card brownBtn link">
          <h1 class="text-center">About us</h1>
          <%= link_to "","quizzes/index" %>
        </div> 
  </div>


</div>
=======
<div class="container>
  <div class="mt-3">
    <div>
    <%= link_to "questions","#",class: "btn btn-lg btn-primary" %>
    </div>
    <div>
    <%= link_to "score","#" ,class: "btn btn-lg btn-primary"%>
    </div>
  </div>
   <div class="mt-3">
    <div class>
    <%= link_to "news","#",class: "btn btn-lg btn-primary" %>
    </div>
    <div>
    <%= link_to "ranking","#",class: "btn btn-lg btn-primary" %>
    </div>
  </div>

</div>

>>>>>>> origin/master
