<div class="container">
  <div class="last_question">
   <p>last question you played</p>
   <%= link_to @question.name ,question_path(@question) %>
   </div>
   <div class="window">
      <p>letter もじ</p>
      <div>
       <div>
     <p>Alphabet → ひらがな(hiragana)</p>
     <%= link_to "play" ,"question/kata_hira" %>
     </div>
     <div>
     <p>Alphabet → かたかな(katakana)</p>
     <%= link_to "play" ,"question/kata_alphabet" %>
     </div>
      <p>ひらがな(hiragana) → Alphabet</p>
      <%= link_to "play" ,"question/hira_alphabet" %>
    </div>
    <div>
      <p>ひらがな(hiragana) → かたかな(katakana)</p>
      <%= link_to "play" ,"question/hira_kata" %>
    </div>
    <div>
      <p>カタカナ(katakana) → ひらがな</p>
      <%= link_to "play" ,"question/kata_hira" %>
    </div>
    <div>
      <p>カタカナ(katakana) → Alphabet </p>
      <%= link_to "play" ,"question/kata_alphabet" %>
    </div>
  </div>
  <div class="window">
  <div>
    <p>word  ことば</p>
    <div>
      <p>noun  めいし<p>
      <div>
        <p>English → japanese </p>
        <%= link_to "play" ,"question/kata_alphabet" %>
      </div>
    </div>
    <div>
      <div>
        <p>English → japanese </p>
        <%= link_to "play" ,"question/kata_alphabet" %>
        </div>
    </div>
    <div>
      <div>
        <p>English → japanese </p>
        <%= link_to "play" ,"question/kata_alphabet" %>
      </div>
    </div>
  </div>
</div>