<div>
  <section class="quiz">
  <div>
    <p>introduction></p>
    <%= link_to "Let's Start", new_user_session_path, class: "top_login" %>
  </div>
  <img id="no_img" src="https://kukuhana.s3-ap-northeast-1.amazonaws.com/no_img.jpg" />
  </section>
  <section class="experience">
    <div>
      <p>introduction></p>
      <%= link_to "Let's Start", new_user_session_path, class: "top_login" %>
    </div>
    <img id="no_img" src="https://kukuhana.s3-ap-northeast-1.amazonaws.com/no_img.jpg" />
  </section>
  <section class="chart">
    <div>
      <p>introduction></p>
      <%= link_to "Let's Start", new_user_session_path, class: "top_login" %>
    </div>
    <img id="no_img" src="https://kukuhana.s3-ap-northeast-1.amazonaws.com/no_img.jpg" />
  </section>
  <section class="article">
    <div>
      <p>introduction></p>
      <%= link_to "Let's Start", new_user_session_path, class: "top_login" %>
    </div>
    <img id="no_img" src="https://kukuhana.s3-ap-northeast-1.amazonaws.com/no_img.jpg" />
  </section>
  <section class="talk">
    <div>
      <p>introduction></p>
      <%= link_to "Let's Start", new_user_session_path, class: "top_login" %>
    </div>
    <img id="no_img" src="https://kukuhana.s3-ap-northeast-1.amazonaws.com/no_img.jpg" />
  </section>
</div>