<div class="row>
  <div class="col-lg-4>
    <div>
    <% if user_signed_in? %>
     <%= link_to "profile",show_profile_path %> 
    <% elsif admin_signed_in? %>
      <%= link_to "users index", users_index_path%>
    <% else %>
      <%= link_to "login",new_user_session_path %>
    <% end %>
    </div>
    <div>
      <% if user_signed_in? %>
        <%= link_to "", score_board_path %> 
      <% elsif admin_signed_in? %>
        <%= link_to "users index",users_index_path %>
      <% else %>
        <%= link_to "",new_user_session_path %>
      <% end %>
    </div>
    <div>
    </div>
    </div>
  </div>
  <div class="col-lg-8>
  </div>
</div>
<div class="row">
  <div class="col-lg-4">
  <% if user_signed_in? %>
      
    <% elsif admin_signed_in? %>
    ??
    <% else %>
    log in
    <% end %>
  </div>
  <div class="col-lg-4">
  <% if user_signed_in? %>
      profile
    <% elsif admin_signed_in? %>
    ??
    <% else %>
    log in
    <% end %>
  </div>
  <div class="col-lg-4">
  <% if user_signed_in? %>
      profile
    <% elsif admin_signed_in? %>
    ??
    <% else %>
    log in
    <% end %>
  </div>
</div>


