<div class="announce_detail_wrapper">
  <p class="announce_date">
    <span class="posted_day">
      <% if updated?(announce) %>
        <%= icon("fas", "sync-alt") %> <%= announce.updated_at.strftime('%Y/%m/%d') %>
      <% else %>
        <%= icon("fas", "clock") %> <%= announce.created_at.strftime('%Y/%m/%d') %>
      <% end %>
    </span>
  </p>
  <p class="announce_name center bold"><%= announce.title %></p>
  <hr>
  <div class="announce_detail">
    <%= raw(announce.contents) %>
  </div>
</div>