<div class="announce_form_wrapper">
  <%= form_with model: [:admin, event], local:true, builder: CustomFormBuilder do |f| %>
    <%= hidden_field_tag :from_calendar, @from_calendar %>
    <p class="error_message"><%= "入力値が正しくありません。" if event.errors.any? %></p>
    <%= render "radio_button", f: f %>
    <%= render "event_date_form", f: f %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name, class: "name_input" %>
    </div>
    <div class="field">
      <%= f.label :detail %>
      <%= f.text_area :detail, class: 'detail_input', 'data-provider': :summernote %>
    </div>
    <div class="actions">
      <%= f.submit form_btn, data: { confirm: "送信しますか？"} %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag 'summernote' %>