<% content_for(:html_title) { 'Events Index' } %>
<% breadcrumb :admin_events, @events %>
<div class="admin_index_wrapper">
  <h1 class="admin_index_title"><%= icon("fas","calendar-day") %> Events index </h1>
  <%= search_form_for @q, url: search_admin_events_path do |f| %>
    <div class="search_wrapper">
      <%= link_to "カレンダー表示に切り替え", calendar_admin_events_path, class: "show_calendar bold" %>
      <div class="search" id="date_input">
        <p class="bold">ワード検索</p>
        <div class="field">
          <%= f.text_field :name_or_detail_cont_any, class: "keyword_search" %>
          <p class="notes">※複数ワードの場合、スペース区切りで入力</p>
        </div>
        <%= render "creation_date_search", f: f %>
        <%= render "update_date_search", f: f %>
      </div>
      <div class="search">
        <%= render 'status_radio_btn', f: f %>
        <%= render 'event_date_search', f: f %>
      </div>
    </div>
    <%= f.submit 'Search', class: "center" %>
  <% end %>
  <div class="events index">
    <p class="create_btn_wrapper">
      <%= link_to "New", new_admin_event_path, class: "admin_create_btn" %>
      <%= link_to "全件表示", admin_events_path(anchor: "index"), class: "admin_show_all_btn" %>
    </p>
    <table class="index_table" id="index">
      <thead>
        <%= render 'columns' %>
      </thead>
      <tbody>
        <% if @events.present? %>
          <%= render partial: 'event', collection: @events, as: :event %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @events, :params => { anchor: "index" } %>
    <% if @events.blank? %>
      <div class="no_result">
        <h3 class="center">No events....</h3>
        <p class="center"><%= link_to '一覧表示', admin_events_path %></p>
      </div>
    <% end %>
  </div>
</div>