<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }, builder: CustomFormBuilder) do |f| %>
  <p class="error_message"><%="Please input correct values" if @user.errors.any? %></p>
  <%= render 'upload_img', model: @user, f: f %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, autocomplete: "email" ,placeholder:" Enter name"%>
  </div>
  <div class="field">
    <%= f.label :country %>
    <%= f.country_select :country,priority_countries: ["nepal"], include_blank: true%>
  </div>
  <div class="field">
    <%= f.label :current_address %>
    <%= f.country_select :current_address,priority_countries: ["nepal", "JP"], include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>
  <div class="actions">
    <%= f.submit "Change" %>
  </div>
<% end %>