<div class="comment_wrapper" id="comment_<%= comment.id %>">
  <p class="font-s">
    <%= link_to "#{comment.user.name}",user_path(current_user) %>
    <span> ・ <%= time_ago_in_words(comment.created_at) %> ago</span>
    <% if comment.user_id == current_user.id %>
      <span>
        <%= link_to edit_comment_path(comment), remote: true do %>
          <%= icon("fas", "edit") %>
        <% end %>
      </span>
      <span>
        <%= link_to comment_path(comment), remote: true, data: { confirm: 'Delete this comment?' }, method: :delete do %>
          <%= icon("fas", "trash-alt") %>
        <% end %>
      </span>
    <% end %>
  </p>
  <%= simple_format(text_url_to_link(h(comment.contents)).html_safe) %>
</div>
