<% content_for(:html_title) { "Quizzes Index" } %>
<% breadcrumb :show_category, @level %>
<div class="quiz_index">
  <h1 class="bold level_name">Level: <%= @level.name %></h1>
  <div class="panel_wrapper accordion">
    <%= render partial: 'section', collection: @sections, as: :section %>
  </div>
</div>
<div class="user_menu_in_mobile hidden">
  <%= render "user_menu_in_mobile" %>
</div>
<%= render "quizzes/score_modal" %>
<%= javascript_include_tag 'score_record.js' %>
<%= javascript_include_tag 'show_charts.js' %>