<%= form_with model: [:admin, article], local: true, builder: CustomFormBuilder do |f| %>
  <p class="error_message"><%="入力値が正しくありません。" if @article.errors.any? %></p>
  <%= render "radio_button", f: f %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title, id: "title_input" %>
  </div>
  <div class="field" >
    <%= f.label :lead %><br>
    <%= f.text_area :lead, id: "lead_input" %>
  </div>
  <div class="field">
    <label>Tags</label>
    <ul id="form-tags" class="tag_input"></ul>
  </div>
  <%= render 'upload_img', model: @article, f: f %>
  <div class="field">
    <%= f.label :contents %>
    <%= f.text_area :contents, id: "contents_input", 'data-provider': :summernote %>
  </div>
  <div class="actions">
    <%= f.submit action, data: { confirm: "送信しますか？"} %>
  </div>
<% end %>
<%= javascript_include_tag 'summernote' %>