<% content_for(:html_title) { 'Articles Index' } %>
<% breadcrumb :admin_articles, @articles %>
<div class="index_wrapper">
  <div class="search_wrapper">
    <h2><%= icon("fas","newspaper") %> Articles index </h2>
    <div class="search" id="date_input">
      <p class="bold">ワード検索</p>
      <%= search_form_for @q, url: search_admin_articles_path do |f| %>
        <div class="field">
          <%= f.text_field :title_or_lead_cont_any, class: "keyword_search" %>
          <p class="notes">※複数ワードの場合、スペース区切りで入力</p>
        </div>
        <%= render 'date_search', f: f %>
        <p id="clear_btn" class="bold right">全クリア</p>
        <%= f.submit 'Search' %>
      <% end %>
    </div>
    <div class="tag_search">
      <p class="bold">・タグ検索</p>
      <ul class="tags_section tags">
        <% if @tags.present? %>
          <%= render partial: 'tag', collection: @tags, as: :tag %>
        <% else %>
          <li>No tags....</li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="articles index">
    <p class="create_btn_wrapper">
      <%= link_to "Create New", new_admin_article_path, class: "new_btn" %>
      <%= link_to "全件表示", admin_articles_path(anchor: "index"), class: "show_all" %>
    </p>
    <table class="index_table" id="index">
      <thead>
        <%= render 'columns' %>
      </thead>
      <tbody>
        <% if @articles.present? %>
          <%= render partial: 'article', collection: @articles, as: :article %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @articles, :params => { anchor: "index" } %>
    <% if @articles.blank? %>
      <div class="no_result">
        <h3 class="center">No articles....</h3>
        <p class="center"><%= link_to '一覧表示', admin_articles_path %></p>
      </div>
    <% end %>
  </div>
</div>