<div class="index_wrapper">
  <div class="search_wrapper">
    <h2>Articles index </h2>
    <div class="search" id="date_input">
      <p class="bold">ワード検索</p>
      <%= search_form_for @q, url: search_admin_articles_path do |f| %>
        <div class="field">
          <%= f.text_field :title_or_lead_cont_any, class: "keyword_search" %>
          <p class="notes">※複数ワードの場合、スペース区切りで入力</p>
        </div>
        <div class="date_search_wrapper">
          <div class="date_search">
            <p class="bold">作成日</p>
            <div class="form-group">
              <div class="field input-group date date_form" id="creation_date_from" data-target-input="nearest">
                <%= f.text_field :created_at_gteq, class: "form-control datetimepicker-input", id: "creation_date_from", data: {toggle: "from_date", target: "#creation_date_from"}, placeholder: "from..." %>
                <div class="input-group-append" data-target="#creation_date_from" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="field input-group date date_form" id="creation_date_to" data-target-input="nearest">
                <%= f.text_field :created_at_lt, class: "form-control datetimepicker-input", id: "creation_date_to", data: {toggle: "to_date", target: "#creation_date_to"}, placeholder: "to..." %>
                <div class="input-group-append" data-target="#creation_date_to" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                </div>
              </div>
            </div>
          </div>
          <div class="date_search">
            <p class="bold">更新日</p>
            <div class="form-group">
              <div class="field input-group date date_form" id="update_date_from" data-target-input="nearest">
                <%= f.text_field :updated_at_gteq, class: "form-control datetimepicker-input", id: "update_date_from", data: {toggle: "from_date", target: "#update_date_from"}, placeholder: "from..." %>
                <div class="input-group-append" data-target="#update_date_from" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="field input-group date date_form" id="update_date_to" data-target-input="nearest">
                <%= f.text_field :updated_at_lt, class: "form-control datetimepicker-input", id: "update_date_to", data: {toggle: "to_date", target: "#update_date_to"}, placeholder: "to..." %>
                <div class="input-group-append" data-target="#update_date_to" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p id="clear_btn" class="bold right">全クリア</p>
        <%= f.submit 'Search' %>
      <% end %>
    </div>
    <div class="tag_search">
      <p class="bold">・Tags</p>
      <ul class="tags_section tags">
        <% if @tags.present? %>
          <%= render partial: 'tag', collection: @tags, as: :tag %>
        <% else %>
          <li>No tags....</li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="article_index index">
    <p class="create_btn_wrapper"><%= link_to "Create New", new_admin_article_path, class: "new_btn" %><%= link_to "全件表示", admin_articles_path(anchor: "index"), class: "show_all" %></p>
    <table class="index_table" id="index">
      <thead>
        <%= render 'columns' %>
      </thead>
      <tbody>
        <% if @articles.present? %>
          <%= render partial: 'article', collection: @articles, as: :article %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @articles, :params => { anchor: "index" } %>
    <% if @articles.blank? %>
      <div class="no_result">
        <h3 class="center">No articles....</h3>
        <p class="center"><%= link_to '一覧表示', admin_articles_path %></p>
      </div>
    <% end %>
  </div>
</div>