<%= link_to article_path(article) do %>
  <div class="row articles no-gutters">
    <div class="col-xs-4 contain-thumbnail">
      <%= image_tag article.img ,class:"thumbnails" %></p>
    </div>
    <div class="col-xs-8">
      <div class="article-lead">
        <p class="posted-time">posted at <%= article.created_at.strftime('%Y/%m/%d') %></p>
        <p><%= article.title %></p>
        <p class="lead"><%= article.lead %></p>
        <% if user_signed_in? %>
          <div id="bookmark_btn_<%= article.id %>">
          <%= render partial:'bookmark_btn' , locals: {article: article} %>
          </div>
        <% end %>
        <div id="like_btn_<%= article.id %>">
          <%= render partial:'like_btn' , locals: {article: article} %>
        </div>
      </div>
    </div>
  </div>
<% end %>
