<%= link_to article_path(article) do %>
  <div class="article">
    <%= render "article_img", article: article %>
    <div class="article_headline_wrapper inline">
      <h4 class="bold"><%= article.title %></h4>
      <p class="lead"><%= article.lead %></p>
      <p class="article_data right">
        <span class="posted_day"><%= render partial: "posted_day", locals: { article: article } %></span>
        <span class="like_btn"><%= icon("fas", "heart") %> <%= article.likes_count %></span>
        <span class="bookmark_btn"><%= icon("fas", "star") %> <%= article.bookmarks_count %></span>
        <span class="view_count"><%= icon("fas", "eye") %> <%= article.impressions_count %></span>
      </p>
    </div>
  </div>
<% end %>
