<%= link_to article_path(article) do %>
  <div class="article">
    <%= image_tag article.img , class: "thumbnails" %>
    <div class="article_headline_wrapper inline">
      <h4 class="title bold"><%= article.title %></h4>
      <p class="lead"><%= article.lead %></p>
    </div>
    <p class="posted-time right">
      <%= icon("fas", "star") %><%= article.bookmarks_count %>
      <%= icon("fas", "heart") %><%= article.likes_count %>
      <%= icon("far", "clock") %> <%= article.created_at.strftime('%Y/%m/%d') %>
    </p>
  </div>
<% end %>
