<%= form_with model: @article, local: true, builder: CustomFormBuilder do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field" >
    <%= f.label :lead %><br>
    <%= f.text_area :lead %>
  </div>
  <div class="field">
    <p>Top-Image</p>
    <div class="post_img_area">
    <%= f.file_field :img, id: 'post_img' %>
    <% if @article.img? %>
      <%= image_tag @article.img.to_s, class: 'present_topImg' %>
      <label><%= f.check_box :remove_img %> 画像を削除</label>
    <% else %>
      <%= f.hidden_field :img_cache %>
    <% end %>
    <img id="postImg_prev" src="#" class='hidden' />
    </div>
  </div>
  <div class="field">
    <%= f.label :contents %>
    <%= f.text_area :contents, 'data-provider': :summernote %>
  </div>
  <div class="actions">
    <%= f.submit "submit" %>
  </div>
<% end %>