<%= link_to article_path(article) do %>
  <div class="inner_article">
    <p class="rank_number center bold <%= top_3(article_counter) %>">
      <span><%= article_counter + 1 %></span>
    </p>
    <%= render "article_img", article: article %>
    <div class="inner_article_headline_wrapper">
      <p class="inner_article_title"><%= article.title %></p>
      <p class="sp inner_article_lead"><%= article.lead %></p>
      <p class="article_data right">
        <span class="like_btn"><%= icon("fas", "heart") %> <%= article.likes_count %></span>
        <span class="bookmark_btn"><%= icon("fas", "star") %> <%= article.bookmarks_count %></span>
        <span class="view_count"><%= icon("fas", "eye") %> <%= article.impressions_count %></span>
      </p>
    </div>
  </div>
<% end %>
