<div class="side_content">
  <h4><%= icon("far", "eye") %> Most Viewed</h4>
  <ul class="inner_article_content top_3_content">
    <% if @viewed_top_3.present? %>
      <%= render partial: "articles/ranked_article", collection: @viewed_top_3, as: :article %>
    <% else %>
      <li>No Data</li>
    <% end %>
  </ul>
</div>
<div class="side_content">
  <h4><%= icon("fas", "star") %> Most Bookmark</h4>
  <ul class="inner_article_content top_3_content">
    <% if @bookmarked_top_3.present? %>
      <%= render partial: "articles/ranked_article", collection: @bookmarked_top_3, as: :article %>
    <% else %>
      <li>No Data</li>
    <% end %>
  </ul>
</div>
<div class="side_content">
  <h4><%= icon("fas", "heart") %> Most Liked</h4>
  <ul class="inner_article_content top_3_content">
    <% if @liked_top_3.present? %>
      <%= render partial: "articles/ranked_article", collection: @liked_top_3, as: :article %>
    <% else %>
      <li>No Data</li>
    <% end %>
  </ul>
</div>