<% content_for(:html_title) { "Article-#{@article.title}" } %>
<% breadcrumb :show_article, @article %>
<div class="section_wrapper">
  <div class="main_section">
    <div class="article_contents">
      <h1><%= @article.title %></h1>
      <p class="posted_time right">
        <%= render partial: 'posted_day', locals: { article: @article } %>
        <%= render partial: "action_btns", locals: { article: @article } %>
      </p>
      <p class="center"><%= image_tag @article.img %></p>
      <hr>
      <div class="artcile_contents">
        <%= raw(@article.contents) %>
      </div>
    </div>
  </div>
  <div class="side_section article_page">
    <%= render 'side_section' %>
  </div>
</div>