<% content_for(:html_title) { "Article-#{@article.title}" } %>
<% breadcrumb :show_article, @article %>
<div class="section_wrapper">
  <div class="main_section">
    <div class="article_wrapper">
      <p class="posted_time">
        <%= render partial: 'posted_day', locals: { article: @article } %>
        <%= render partial: "action_btns", locals: { article: @article } %>
      </p>
      <p class="article_title"><%= @article.title %></p>
      <%= render "article_img", article: @article %>
      <hr>
      <div class="article_contents" id="contents">
        <%= raw(@article.contents) %>
      </div>
    </div>
  </div>
  <div class="side_section article_page pc">
    <%= render 'side_section' %>
  </div>
  <div class="user_menu_in_mobile hidden">
    <%= render "user_menu_in_mobile" %>
    <%= render "side_section" %>
  </div>
</div>
<%= render "back_to_top_btn" %>