<tr>
  <td><%= quiz.id %></td>
  <td><%= quiz.question %></td>
  <td><%= quiz.choice1 %></td>
  <td><%= quiz.choice2 %></td>
  <td><%= quiz.choice3 %></td>
  <td><%= quiz.choice4 %></td>
  <td>
    <%= link_to "edit", edit_quiz_path(quiz) ,class:"edit-btn"%>
    <%= link_to "delete", delete_quiz_path(quiz) ,method: :delete,class:"delete-btn" %>
  </td>
</tr>
