<% content_for(:html_title) { "Quiz Index" } %>
<div class="admin_index_wrapper">
  <% breadcrumb :admin_quizzes, @quizzes %>
  <h1 class="admin_index_title"><%= icon("fas","question") %> クイズ一覧 <%= icon("fas","question") %></h1>
  <div class="search_wrapper">
    <div class="search" id="date_input">
      <p class="bold">・ワード検索</p>
      <%= search_form_for @q, url: search_admin_quizzes_path do |f| %>
        <div class="field">
          <%= f.text_field :question_or_choice1_cont_any, class: "keyword_search" %>
          <p class="notes">※複数ワードの場合、半角スペース区切りで入力</p>
        </div>
          <%= render 'creation_date_search', f: f %>
          <%= render 'update_date_search', f: f %>
        <p id="clear_btn" class="bold right">全クリア</p>
        <%= f.submit 'Search' %>
      <% end %>
    </div>
    <div class="search">
      <%= render "category_search" %>
      <p class="category_link right bold"><%= link_to 'カテゴリー作成', admin_quiz_categories_path %></p>
    </div>
  </div>
  <div id="index">
    <p class="create_btn_wrapper">
      <%= link_to 'NEW', new_admin_quiz_path, class: 'admin_create_btn' %>
      <span><%= link_to '全件表示', admin_quizzes_path, class: "admin_show_all_btn"%></span>
    </p>
    <div class="table_wrapper">
      <table class="index_table">
        <thead>
          <%= render 'columns' %>
        </thead>
        <tbody class="quizzes_list">
          <%= render partial: 'quiz', collection: @quizzes, as: :quiz %>
        </tbody>
      </table>
      <%= paginate @quizzes, :params => { anchor: "index" } %>
      <% if @quizzes.blank? %>
        <div class="no_result">
          <p class="no_data center">No quizzes....</p>
        </div>
      <% end %>
    </div>
  </div>
</div>