<div class="quiz_index">
  <div class="narrow_down">
   <% search_form_for(@q, url: search_admin_quiz_path) do |f| %>
     <p>検索</p>
     <%= f.search_field :question_or_choice1_cont_any %>
     <%= f.submit %>
   <% end %>
    <select id="select_level" class="index">
      <option>選択してください</option>
      <%= render partial: 'option', collection: @options, as: :option %>
    </select>
    <select id="select_section">
      <option>---</option>
    </select>
    <select id="select_title" class="index_page">
      <option>---</option>
    </select>
  </div>
  <p class="right"><%= link_to 'NEW', new_admin_quiz_path, class: 'new_button' %></p>
  <ul class="quizzes_list">
    <%= render partial: 'quiz', collection: @quizzes, as: :quiz %>
  </ul>
</div>