  <ul class="talk_btns">
    <li id="comment_btn_<%= talk.id %>" class="comment_btn">
      <%= link_to comments_path(id: talk.id), remote: true do %>
        <%= icon("fas", "comment-alt") %>  <%= talk.comments_count %>  <%= talk.comments_count > 1 ? "Comments" : "Comment" %>
      <% end %>
    </li>
    <li id="like_btn_<%= talk.id %>" class="like_btn">
      <%= render partial:'talks/like_btn' ,locals: { talk: talk } %>
    </li>
    <% if own_post?(talk) %>
      <li>
        <%= link_to edit_talk_path(talk, talk: { community_id: talk.community.id }), class: "edit_btn", remote: true do %>
          <%= icon("fas", "edit") %> Edit
        <% end %>
      </li>
      <li>
        <%= link_to talk_path(talk, talk: { community_id: talk.community.id }), class: "delete_btn", remote: true, data: { confirm: 'Delete this post?' }, method: :delete do %>
          <%= icon("fas", "trash-alt") %> Delete
        <% end %>
      </li>
    <% end %>
  </ul>
