<%= form_with model: talk, builder: CustomFormBuilder do |f| %>
  <div class="field select_communities">
<%= render partial: 'community_id',locals: { community: @community, communities: @communities, f: f } %>
  </div>
  <div class="field input_content">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>
  <%= render 'upload_img', model: talk, f: f %>
  <div class="actions">
    <%= f.submit "Post" %>
  </div>
<% end %>
<%= javascript_include_tag "prev_img.js" %>