<div class="side_section talk_page pc">
  <div class="side_content">
    <h4><%= icon("fas", "tags") %> Menu (メニュー)</h4>
    <div class="side_inner_box">
      <div>
        <%= link_to "Create talk", new_talk_path(from_feed: "true"), class: "block center create_talk_btn" %>
        <%= link_to "create community" ,new_community_path, class: "block center create_community_btn" %>
      </div>
    </div>
  </div>
  <%= render 'talks/top_3_talks' %>
  <%= render 'communities/joined_communities' %>
</div>