<div class="talk_wrapper" id="talk_<%= talk.id %>">
  <%= render 'talks/info_of_poster', talk: talk %>
  <div class="talk_content_wrapper">
    <%= simple_format(text_url_to_link(h(talk.content)).html_safe, class: 'talk_content') %>
    <p class="center"><%= image_tag talk.img if talk.img.attached? %></p>
  </div>
  <%= render 'talks/action_btns', talk: talk %>
  <div id="comments_wrapper_<%= talk.id%>" class="hidden comments_wrapper">
    <%= render 'comments/form', comment: @comment, talk: talk %>
    <div id="comments_of_talk<%= talk.id %>">
    </div>
    <div id="view_more_<%= talk.id %>" class="center view_more"></div>
  </div>
</div>
