<% content_for(:html_title) { "Feed page" } %>
<div class="breadcrumbs">
  <%= icon("fas", "map-marker-alt") %> 
  <%= link_to "home", root_path  %>
    >
  <span>Feed</span>
</div> 
<div class="talk_index section_wrapper">
  <div class="main_section">
    <h1 class="center bold page_title">Feed</h1>
    <div class="talk_index jscroll" class="main_section inline jscroll">
      <% if @talks.present? %>
        <%= render partial: 'talk', collection: @talks, as: :talk %>
      <% else %>
        <p>no talks...</p>
      <% end %>
    </div>
    <div id="to_top_btn_wrapper" class="right">
      <a href="#" id="talk_top_btn"><%= icon("fas", "arrow-circle-up") %></a>
    </div>
  </div>
  <div class="side_section talk_page">
      <%= render 'talks/side_section' %>
  </div>
</div>
