<%= link_to user_path(user), class: "user_wrapper" do %>
  <div class="user_ranking_info" id="user_<%= user.id %> <%= add_emphasis(user) %>">
    <p class="user_rank_number center" id="<%= is_top_3?(user_counter) %>">
    <span><%= icon("fas", "crown") if user_counter < 3 %></span>
    <span><%= user_counter + 1 %></span>
    </p>
    <p class="name"><%= user.name %></p>
    <p class="experience"><%= show_total_experience(user) %></p>
  </div>
<% end %>