<div>
<p>Profile</p>
<p><%= link_to 'edit profile', edit_user_registration_path(@user) %></p>
</div>
<div>
  <% if @user.img %>
    <%= image_tag @user.img.to_s, class:'present_img' %>
  <% else %>
   <%= image_tag 'https://kukuhana.s3-ap-northeast-1.amazonaws.com/no_img.jpg' %>
  <% end %>
  <p><%= @user.name %></p>
  <p>Total Play Count<br>
    <%= @user.score_records.count %></p>
  <ul>
    <li>Communities<br><%= @user.community_users.count %></li>
    <li>Posts<br><%= @user.talks.count %></li>
  </ul>

</div>
