<% content_for(:html_title) { "Profile - #{@user.name}" } %>
<div class="profile_wrapper">
  <% if own_profile?(@user) %>
  <p class="right edit_profile_btn">
    <%= link_to 'Edit Your Profile', edit_profile_path(@user), id: "edit_profile_btn" %>
  </p>
  <% end %>
  <div class="user_img_area center">
    <% if @user.img.attached? %>
      <%= image_tag @user.img, id:'present_user_img' %>
    <% else %>
      <%= image_tag 'https://kukuhana.s3-ap-northeast-1.amazonaws.com/no_img.jpg', id: 'no_user_img' %>
    <% end %>
  </div>
  <ul class="profile_detail center">
    <li>
      <p>Name</p>
      <p><%= @user.name %></p>
    </li>
    <li>
      <p>Level</p>
      <p><%= @current_level || "1" %></p>
    </li>
    <li>
      <p>Total Experience</p>
      <p><%= @current_experience %></p>
    </li>
    <li>
      <p>Total Play Count</p>
      <p><%= @user.score_records.count %></p>
    </li>
    <li>
      <p>Communities</p>
      <p><%= @user.community_users.count %></p>
    </li>
    <li>
      <p>Total Posts</p>
      <p><%= @user.talks.count %></p>
    </li>
    <li>
      <p>Country</p>
      <% unless @user.country.blank? %>
        <p>
          <%= @user.country %> 
          <i class="flag-icon flag-icon-<%= @user.country.downcase %>"></i>
        </p>
      <% else %>
        <p>Secret</p>
      <% end %>
    </li>
    <li>
      <p>Address</p>
      <% unless @user.current_address.blank? %>
      <p>
        <%= @user.current_address %> 
        <i class="flag-icon flag-icon-<%= @user.current_address.downcase %>"></i>
      </p>
      <% else %>
        <p>Secret</p>
      <% end %>
    </li>
  </ul>
    <p class="right">
      <%= link_to 'delete your account', user_registration_path(@user), method: :delete, id: "delete_account" if own_profile?(@user) %>
    </p>
</div>