<% content_for(:html_title) { "Profile - @user.name" } %>
  <p class="right"><%= link_to 'Edit', edit_user_registration_path(@user) %></p>
  <p class="center">Profile</p>
  <% if @user.img.attached? %>
    <%= image_tag @user.img.to_s, class:'present_img' %>
  <% else %>
    <%= image_tag 'https://kukuhana.s3-ap-northeast-1.amazonaws.com/no_img.jpg' %>
  <% end %>
  <table class="user_info">
  <%= link_to "All talks", talks_path(id: @user.id) %>
    <tr>
      <td>Name:</td>
      <td><%= @user.name %></td>
    </tr>
    <tr>
      <td>Lv:</td>
      <td><%= @current_level || "1" %></td>
    </tr>
    <tr>
      <td>total_experience:</td>
      <td><%= @current_experience %></td>
    </tr>
    <tr>
      <td>Total Play Count:</td>
      <td><%= @user.score_records.count %></td>
    </tr>
    <tr>
      <td>Communities:</td>
      <td><%= @user.community_users.count %></td>
    </tr>
    <tr>
      <td>Posts:</td>
      <td><%= @user.talks.count %></td>
    </tr>
    <tr>
      <td>Country:</td>
      <td><%= @user.country %> <i class="flag-icon flag-icon-<%= @user.country.downcase %>"></i></td>
    </tr>
    <tr>
      <td>Address:</td>
      <td><%= @user.current_address %> <i class="flag-icon flag-icon-<%= @user.current_address.downcase %>"></i></td>
    </tr>
  </table>
</div>

