<li class="quiz_category" id="category_<%= category.id %>">
  <span><%= category.name %></span>
  <%= link_to categories_admin_quiz_category_path(category), class: "edit_button inline" do %>
    <%= icon("fas", "edit") %>詳細
  <% end %>
  <%= link_to admin_quiz_category_path(category), class: "delete_button inline",data: { confirm: 'このカテゴリーを削除しますか?' } ,remote: true, method: :delete do %>
    <%= icon("fas", "trash-alt") %>削除
  <% end %>
</li>