<% if title_index?(parent) %>
  <%= link_to 'NEW', new_quiz_admin_quiz_category_path(parent), class: 'admin_create_btn', remote: true %>
  <span class="scroll_x">※ 横スクロール可</span>
<% elsif @parent.present? %>
  <%= link_to 'NEW', new_category_admin_quiz_category_path(parent), class: 'admin_create_btn', remote: true %>
  <span><%= "※ ドラッグ＆ドロップで並び替え" unless title_index?(parent) %></span>
<% else %>
  <%= link_to 'NEW', new_level_admin_quiz_categories_path, class: 'admin_create_btn', remote: true %>
  <span><%= "※ ドラッグ＆ドロップで並び替え" unless title_index?(parent) %></span>
<% end %>
