<% content_for(:html_title) { "Quiz Category Index" } %>
<%= render 'breadcrumbs' %>
<div class="quiz_categories">
  <div class="quiz_category_parent">
    <% unless @parent %>
      <p class="parent_name center"><%= icon("fas","mp-marker-alt") %> Quiz カテゴリー</p>
    <% else %>
      <%= render partial: 'category_info', locals: { parent: @parent, ancestors: @ancestors } %>
    <% end %>
  </div>
  <div class="category_children">
    <p class="create_btn_wrapper">
      <%= render 'create_btn', parent: @parent %>
    </p>
    <% if title_index?(@parent) %>
      <div class="table_wrapper">
        <table class="index_table" >
          <%= render 'quiz_columns' %>
          <tbody id ="quizzes_index">
            <%= render partial: 'admin/quizzes/quiz', collection: @quizzes, as: :quiz %>
          </tbody>
        </table>
    <% else %>
        <ul id="sortable_list" class="quiz_category_list quizzes_list">
          <%= render partial: 'admin/quiz_categories/category', collection: @categories, as: :category %>
        </ul>
        <%= hidden_field_tag :parent_id, @parent.id if @parent.present? %>
    <% end %>
    </div>
  </div>
</div>