<% content_for(:html_title) { 'talks Index' } %>
<% breadcrumb :admin_talks, @talks %>
<div class="admin_index_wrapper">
  <p class="admin_index_title"><%= icon("fas","comments") %> 投稿 一覧 <%= icon("fas","comments") %></p>
  <%= search_form_for @q, url: search_admin_talks_path do |f| %>
    <div class="search_wrapper">
      <%= link_to "コメント一覧へ", admin_comments_path, class: "show_comments_index bold" %>
      <div class="search" id="date_input">
        <p class="bold">ワード検索</p>
        <div class="field">
          <%= f.text_field :community_name_or_user_name_or_content_cont_any, class: "keyword_search" %>
          <p class="notes">※複数ワードの場合、半角スペース区切りで入力</p>
        </div>
      </div>
      <div class="search">
        <%= render 'creation_date_search', f: f %>
        <%= render 'update_date_search', f: f %>
        <p id="clear_btn" class="bold right">全クリア</p>
      </div>
    </div>
    <%= f.submit 'Search' %>
  <% end %>
  <div class="talks index">
    <p class="create_btn_wrapper">
      <%= link_to "全件表示", admin_talks_path(anchor: "index"), class: "show_all" %>
      <span class="scroll_x">※ 横スクロール可</span>
    </p>
    <div class="table_wrapper">
      <table class="index_table" id="index">
        <thead>
          <%= render 'columns' %>
        </thead>
        <tbody>
          <% if @talks.present? %>
            <%= render partial: 'talk', collection: @talks, as: :talk %>
          <% end %>
        </tbody>
      </table>
      <%= paginate @talks, :params => { anchor: "index" } %>
      <% if @talks.blank? %>
        <div class="no_result">
          <p class="no_data center">No talks....</p>
        </div>
      <% end %>
    </div>
  </div>
</div>