
<% content_for(:html_title) { 'announcement Index' } %>
<% breadcrumb :admin_announcements_index, @announcement %>
<div class="admin_index_wrapper">
  <h1 class="admin_index_title><%= icon("fas","info-circle") %> announcement index </h1>
  <div class="search_wrapper">
    <div class="search" id="date_input">
      <p class="bold">ワード検索</p>
      <%= search_form_for @q, url: search_admin_announcements_path do |f| %>
        <div class="field">
          <%= f.text_field :title_or_contents_cont_any, class: "keyword_search" %>
          <p class="notes">※複数ワードの場合、スペース区切りで入力</p>
        </div>
        <%= render 'status_radio_btn', f: f %>
        <%= render 'creation_date_search', f: f %>
        <%= render 'update_date_search', f: f %>
        <p id="clear_btn" class="bold right">全クリア</p>
        <%= f.submit 'Search' %>
      <% end %>
    </div>
    <div class="tag_search">
      <p class="bold">タグ検索</p>
      <ul class="tags_section tags">
        <% if @tags.present? %>
          <%= render partial: 'tag', collection: @tags, as: :tag %>
        <% else %>
          <li>No tags....</li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="article_index index">
    <p class="create_btn_wrapper">
      <%= link_to "New", new_admin_announcement_path, class: "admin_create_btn" %>
      <%= link_to "全件表示", admin_announcements_path(anchor: "index"), class: "admin_show_all_btn" %>
    </p>
    <table class="index_table" id="index">
      <thead>
        <%= render 'columns' %>
      </thead>
      <tbody>
        <% if @announcements.present? %>
          <%= render partial: 'announce', collection: @announcements, as: :announce %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @announcements, :params => { anchor: "index" } %>
    <% if @announcement.blank? %>
      <div class="no_result">
        <h3 class="center">No announcement....</h3>
        <p class="center"><%= link_to '一覧表示', admin_announcements_path %></p>
      </div>
    <% end %>
  </div>
</div>