= form_for(@notice) do |f|
<%= form_with model: @article do |f| %>
    <div class="field">
    <%= f.label :title %>
    <%= f.text_filed :tile %>
  </div>
  <div class="field">
    <%= f.label :contents %>
    <%= f.text_filed :contents id:"editor" %>
  </div>
  <hr class="form-divider">
  <div class="actions">
    <%= f.submit "create" %>
  </div>
<% end %>