<div class="form_wrapper">
  <%= form_with model: [:admin, community], builder: CustomFormBuilder, local: true do |f|  %>
    <div class="field input_community_name">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <ul id="form_tags" class="tag_input"></ul>
    </div>
    <div class="upload">
      <p>Image</p>
      <div class="post_img_area upload_img">
        <%= f.file_field :img, id: 'post_img' %>
        <% if @community.img.present? %>
          <%= image_tag @community.img.to_s, class: 'present_Img' %>
        <% else %>
          <%= f.hidden_field :img_cache %>
          <img id="postImg_prev" src="https://kukuhana.s3-ap-northeast-1.amazonaws.com/no_img.jpg" />
        <% end %> 
        <p class="delete_img hidden">cancel</p>
      </div>
    </div>
      <div class="input_introduction">
        <%= f.label :introduction %>
        <%= f.text_area :introduction %>
      </div>
    <div class="submit_btn">
      <%= f.submit "Create" %>
    </div>
  <% end %>
</div>
<%= javascript_include_tag "prev_img.js" %>
<%= javascript_include_tag "community" %>