<% content_for(:html_title) { "Communities Index" } %>
<% breadcrumb :admin_communities, @communities %>
<div class="admin_index_wrapper">
  <p class="admin_index_title"><%= icon("fas","users") %> コミュニティー　一覧 <%= icon("fas","users") %></p>
  <div class="search_wrapper">
    <div class="search" id="date_input">
      <p class="bold">・ワード検索</p>
      <%= search_form_for @q, url: search_admin_communities_path do |f| %>
        <div class="field">
          <%= f.text_field :name_or_introduction_or_founder_name_cont_any, class: "keyword_search" %>
          <p class="notes">※複数ワードの場合、スペース区切りで入力</p>
        </div>
          <%= render 'creation_date_search', f: f %>
          <%= render 'update_date_search', f: f %>
        <p id="clear_btn" class="bold right">全クリア</p>
        <%= f.submit 'Search' %>
      <% end %>
    </div>
    <div class="tag_search">
      <p class="bold">・タグ検索</p>
      <ul class="tags_section tags">
        <% if @tags.present? %>
          <%= render partial: 'tag', collection: @tags, as: :tag %>
        <% else %>
          <li>No tags....</li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="index">
    <p class="create_btn_wrapper">
      <%= link_to "全件表示", admin_communities_path(anchor: "index"), class: "show_all" %>
      <span class="scroll_x">※ 横スクロール可</span>
    </p>
    <table class="index_table" id="index">
      <thead>
        <%= render 'column' %>
      </thead>
      <tbody>
        <% if @communities.present? %>
          <%= render partial: 'community', collection: @communities, as: :community %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @communities, :params => { anchor: "index" } %>
    <% if @communities.blank? %>
      <div class="no_result">
        <p class="no_data center">No communities....</p>
      </div>
    <% end %>
  </div>
</div>