<div class="provider">
  <%= render 'layouts/social_login' %>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), builder: CustomFormBuilder) do |f| %>
  <div class="field">
    <p>:Email</p>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder:" Enter email"%>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" , placeholder:" Enter password" %>
  </div>
  <div class="field ">
    <%= f.check_box :remember_me %><%= f.label :remember_me %>
  </div>
  <div class="actions">
    <%= f.submit " Log in " %>
  </div>
<% end %>