<div class="provider">
  <%= render 'layouts/social_login' %>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name), builder: CustomFormBuilder) do |f| %>
  <div class="field">
    <p>:Name</p>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" , placeholder:" Enter name"%>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" , placeholder:" Enter password" %>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <p>: Remember me</p>
      <%= f.check_box :remember_me %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit " Log in " %>
  </div>
<% end %>