
<div class="provider">
  <%= render 'layouts/social_login' %>
</div>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<% if resource.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
  <div class="field">
    <p>:Name</p>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" , placeholder:" Enter name"%>
  </div>
  <div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password" , placeholder:" Enter password" %>
  </div>
  <% if devise_mapping.rememberable? %>
    <div class="field">
      <p>: Remember me</p>
      <%= f.check_box :remember_me %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit " Log in " %>
  </div>
<% end %>