<div class="head">
  <h1>Log in to Japanepa.com ! </h1>
</div>
<div class="row row-eq-height">
  <div class="col-xs-12 col-lg-6 ">
    <div class="provider">
      <div class=" providerBtn facebookBtn link">
        <h1 class="text-center">Login with Facebook</h1>
        <%= link_to "","/users/auth/facebook" %>
      </div>
      <div class="providerBtn  twitterBtn link">
        <h1 class="text-center">Login with Twitter</h1>
        <%= link_to "","/users/auth/twitter" %>
      </div>
      <div class="providerBtn  googleBtn link">
        <h1 class="text-center">Login with Google</h1>
        <%= link_to "","/users/auth/google_oauth2" %>
      </div>
      <div class="sessionHelp">
        <h2><%= link_to "login as admin",new_admin_session_path %></h2>
        <h2><%= link_to "Sign Up for Japanepa!",new_user_registration_path %></h2>
        <h2><%= link_to "Forgot  password?", new_password_path(resource_name) %></h2>
      </div>
    </div>
  </div>
  
  <div class="col-xs-12 col-lg-6 ">
    
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
        <div class="field input">
          <h1>:Email</h1>
          <div><%= f.email_field :email, autofocus: true, autocomplete: "email" , placeholder:" Enter email"%></div>
        </div>

        <div class="field input">
          <h1>:Password</h1>
          <div><%= f.password_field :password, autocomplete: "current-password" , placeholder:" Enter password" %></div>
        </div>

          <div class="field ">
            <h1><%= f.check_box :remember_me %><%= f.label :remember_me %></h1>
          </div>

        <div class="actions input">
          <div class="actionBtn"><%= f.submit "Log in" ,class:"yellowBtn"%></div>
        </div>
      <% end %>
  
    
  </div>
</div>
