<div class="admin_upper_block">
  <div>
    <%= link_to admin_information_index_path, class: "menu_panel" do %>
      <div class="menu_panel info_panel">
        <p class="menu_name"><%= icon("fas", "info-circle") %> INFO</p>
      </div>
    <% end %>
    <%= link_to admin_events_path, class: "menu_panel" do %>
      <div class="menu_panel event_panel">
        <p class="menu_name"> <%= icon("fas", "calendar-day") %> EVENT</p>
      </div>
    <% end %>
    <%= link_to admin_talks_path, class: "menu_panel" do %>
      <div class="menu_panel talk_panel">
        <p class="menu_name"><%= icon("fas", "comments") %> TALKS</p>
      </div>
    <% end %>
    <%= link_to admin_communities_path, class: "menu_panel" do %>
      <div class="menu_panel community_panel">
        <p class="menu_name"><%= icon("fas", "users") %> COMMUNITY</p>
      </div>
    <% end %>
  </div>
  <div class="service_status_panel">
    <%= render 'admin/static_pages/service_status_panel' %>
  </div>
</div>
<div class="under_block">
  <%= link_to admin_quizzes_path do %>
    <div class="menu_panel quiz_panel">
      <p class="menu_name">QUIZ<br><%= icon("fas", "question") %></p>
    </div>
  <% end %>
  <%= link_to admin_articles_path, class: "menu_panel" do %>
    <div class="menu_panel article_panel">
      <p class="menu_name">ARTICLE<br><%= icon("fas", "newspaper") %></p>
    </div>
  <% end %>
  <%= link_to admin_users_path, class: "menu_panel" do%>
    <div class="menu_panel users_panel">
      <p class="menu_name">USERS<br><%= icon("fas", "user") %></p>
    </div>
  <% end %>
</div>