<% content_for(:html_title) { "Users Index" } %>
<% breadcrumb :admin_users, @users %>
<div class="admin_index_wrapper">
  <h1 class="admin_index_title"><%= icon("fas","user") %> Users index </h1>
  <%= search_form_for @q, url: search_admin_users_path do |f| %>
    <div class="search_wrapper">
      <div class="search">
        <div class="field">
          <p class="bold"><%= icon("fas","search") %> ワード検索  <span class="notes">※複数ワードの場合、半角スペース区切りで入力</span></p>
          <%= f.text_field :name_cont, class: "keyword_search" %>
        </div>
        <div class="country_search">
          <div class="field">
            <p class="bold"><%= icon("fas","passport") %> 国籍</p>
            <%= f.country_select :country_eq, include_blank: true %>
          </div>
          <div class="field">
            <p class="bold"><%= icon("fas","map-marker-alt") %> 現住所</p>
            <%= f.country_select :current_address_eq, priority_countries: ["nepal"], include_blank: true %>
          </div>
        </div>
      </div>
      <div class="search">
        <%= render "creation_date_search", f: f %>
        <p id="clear_btn" class="bold right">全クリア</p>
      </div>
    </div>
    <%= f.submit 'Search' %>
  <% end %>
  <div class="index">
    <p><%= link_to "全件表示", admin_users_path(anchor: "index"), class: "new_btn" %></p>
    <table class="index_table">
      <%= render 'columns' %>
      <tbody>
        <% if @users.present? %>
          <%= render partial: 'user', collection: @users, as: :user %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users, :params => { anchor: "index" } %>
    <% if @users.blank? %>
      <div class="no_result">
        <h3 class="center">No users....</h3>
      </div>
    <% end %>
  </div>
</div>
