<% content_for(:html_title) { "Users Index" } %>
<div class="index_wrapper">
  <% breadcrumb :admin_users, @users %>
  <div class="user_search search_wrapper">
    <h2><%= icon("fas","user") %> Users index </h2>
    <%= search_form_for @q, url: search_admin_users_path do |f| %>
      <div class="search">
        <div class="field">
          <p class="bold"><%= icon("fas","search") %> ワード検索  <span class="notes">※複数ワードの場合、スペース区切りで入力</span></p>
          <%= f.text_field :name_cont, class: "keyword_search" %>
        </div>
        <div class="country_search">
          <div class="field">
            <p class="bold"><%= icon("fas","passport") %> 国籍</p>
            <%= f.country_select :country_eq, include_blank: true %>
          </div>
          <div class="field">
            <p class="bold"><%= icon("fas","map-marker-alt") %> 現住所</p>
            <%= f.country_select :current_address_eq, priority_countries: ["nepal"], include_blank: true %>
          </div>
        </div>
      </div>
      <div class="date_search_wrapper">
        <div class="date_search">
          <p class="bold"><%= icon("fas", "calender-day") %>作成日</p>
          <div class="form-group">
            <div class="field input-group date date_form" id="creation_date_from" data-target-input="nearest">
              <%= f.text_field :created_at_gteq, class: "form-control datetimepicker-input", id: "creation_date_from", data: {toggle: "from_date", target: "#creation_date_from"}, placeholder: "from..." %>
              <div class="input-group-append" data-target="#creation_date_from" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="field input-group date date_form" id="creation_date_to" data-target-input="nearest">
              <%= f.text_field :created_at_lt, class: "form-control datetimepicker-input", id: "creation_date_to", data: {toggle: "to_date", target: "#creation_date_to"}, placeholder: "to..." %>
              <div class="input-group-append" data-target="#creation_date_to" data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <p id="clear_btn" class="bold right">全クリア</p>
      <%= f.submit 'Search' %>
    <% end %>
  </div>
  <div id="index">
    <p><%= link_to "全件表示", admin_users_path(anchor: "index"), class: "new_btn" %></p>
    <table class="index_table">
          <%= render 'columns' %>
      <tbody>
        <% if @users.present? %>
          <%= render partial: 'user', collection: @users, as: :user %>
        <% end %>
      </tbody>
    </table>
    <%= paginate @users, :params => { anchor: "index" } %>
    <% if @users.blank? %>
      <div class="no_result">
        <h3 class="center">No users....</h3>
      </div>
    <% end %>
  </div>
</div>