<% @scoreRecords.each do |section,scoreRecords| %>

<h1>●<%= section %></h1>
<% scoreRecords.each do |scoreRecord| %>
<div class="scoreBoard">
  <div class="title <%= scoreRecord[:quizTitle] %>">
  
  <div class="row scoreChart">
    <div class="col-xs-8 row-eq-height chart linearChart ">
      <canvas id="<%= scoreRecord[:quizTitle] %>LinearChart"  width="300" height="300"></canvas>
    </div>
    <div class="col-xs-4 row-eq-height chart doughnutsChart row-eq-height">
      <canvas id="<%= scoreRecord[:quizTitle] %>DoughnutsChart"  width="300" height="300"></canvas>
      <p id="<%= scoreRecord[:quizTitle] %>learningLevel" class="learningLevel"></p>
      <p id="<%= scoreRecord[:quizTitle] %>coution" class="coution"></p>
    </div>
  </div>
  
  <div class="row scoreInfo">
    <div class="col-xs-8">
      <h1>Quiz Title: <%= scoreRecord[:quizTitle] %></h1>
      <h2 class="level">level:</h2>
      <h2>Play Count: <%= scoreRecord[:score].length %></h2>
      <% if scoreRecord[:score].any? %>
      <h2>Max Score: <%= scoreRecord[:score].max %></h2>
      <% else %>
      <h2>Max Score: - </h2>
      <% end %>
    </div>
    <div class="col-xs-4">
      <div class=" card redBtn link">
      <h1>Play now!</h1>
      <%= link_to "",controller:"quizzes",action:"show",title:scoreRecord[:quizTitle] %>
    </div>
  </div>
  
</div>
<% end %>
<% end %>
<%= javascript_include_tag 'show_charts.js' %>
<%= javascript_include_tag 'indexCharts.js' %>