<div class="provider">
  <div class="social_btn facebook ">
    <%= link_to "/users/auth/facebook", class: "left" do %>
      <%= icon("fab", "facebook-square") %> <%= action %> with Facebook
    <% end %>
  </div>
  <div class="social_btn twitter">
    <%= link_to "/users/auth/twitter",class: " left" do %>
      <%= icon("fab", "twitter") %> <%= action %> with Twitter
    <% end %>
  </div>
</div>
<h1 class="center"> ~  or  ~</h1>