<p class="bold">公開状況</p>
<div class="inline_radio">
  <div class="radio_button search_by_status">
    <%= f.radio_button :status_eq, nil, checked: "checked", class: "inline", id: 'draft_btn' %>
    <%= f.label :全て, class: "radio_status" %>
  </div>
  <div class="radio_button search_by_status">
    <%= f.radio_button :status_eq, 1, id: 'public_btn' %>
    <%= f.label :公開, class: "radio_status"%>
  </div>
  <div class="radio_button search_by_status">
    <%= f.radio_button :status_eq, 0, class: "inline", id: 'draft_btn' %>
    <%= f.label :非公開, class: "radio_status" %>
  </div>
</div>
