<% if user_signed_in? %>
  <div class="user_menu ">
  <%= link_to user_path(current_user) do %>
  <p><%= icon("fas", "address-card") %> Profile</p>
  <% end %>
  <%= link_to score_records_path do %>
  <p><%= icon("fas", "chart-line") %> Score Record</p>
  <% end %>
  <p><%= icon("fas", "star") %> Bookmarks</p>
  <p><%= icon("fas", "question-circle") %> Help</p>
  <p><%= icon("fas", "info-circle") %> About us</p>
  <%= link_to destroy_user_session_path, method: :delete do %>
  <p><%= icon("fas", "sign-out-alt") %> Log out</p>
  <% end %>
  </div>
<% end %>