<div class="user_img_area center">
  <% if current_user.img.attached? %>
    <%= image_tag current_user.img, id:'present_user_img' %>
  <% else %>
    <%= image_tag 'https://kukuhana.s3-ap-northeast-1.amazonaws.com/no_img.jpg', id: 'no_user_img' %>
  <% end %>
</div>
<div class="user_info center">
  <h2><%= current_user.name %></h2>
  <h2>Lv.<%= @current_level %></h2>
</div>
<div class="user_menu_wrapper">
  <%= link_to user_path(current_user) do %>
    <div class="user_menu_panel orange_bg">
      <div class="panel_inner_box">
        <p class="menu_name bold">Profile<br><%= icon("fas fa-fw", "address-card") %></p>
      </div>
    </div>
  <% end %>
  <%= link_to events_path do %>
    <div class="user_menu_panel blue_bg">
      <div class="panel_inner_box">
        <p class="menu_name bold">Calendar<br><%= icon("fas fa-fw", "calendar-alt") %></p>
      </div>
    </div>
  <% end %>
  <%= link_to bookmarks_path do %>
    <div class="user_menu_panel yellow_bg">
      <div class="panel_inner_box">
        <p class="menu_name bold">Bookmark<br><%= icon("fas fa-fw", "star") %></p>
      </div>
    </div>
  <% end %>
  <%= link_to destroy_user_session_path, method: :delete do %>
    <div class="user_menu_panel gray_bg">
      <div class="panel_inner_box">
        <p class="menu_name bold">Log out<br><%= icon("fas fa-fw", "sign-out-alt") %></p>
      </div>
    </div>
  <% end %>
</div>