<div class="side_content">
  <h4>Community Data</h4>
  <div class="community_data">
    <%= link_to 'Edit', edit_community_path(@community), class: "edit_community_btn" if current_user.is_founder?(@community) %>
    <%= render "community_img", community: @community %>
    <p class="status_counts">
      <%= icon("fas","users") %> <%= @community.users.count %>
      <%= icon("fas","comments") %> <%= @community.talks.count %>
    </p>
    <p class="founder_name"><span>Founder</span> <%= link_to @community.founder.name, user_path(@community.founder.id) %></p>
    <p class="community_introduction"><span>Introduction</span><%= @community.introduction %></p>
    <div id="join_btn_<%= @community.id %>">
      <% unless current_user.is_founder?(@community) %>
        <%= render partial:'join_btn' , locals: { community: @community } %>
      <% end %>
    </div>
  </div>
</div>