<%= form_with model: @community, builder: CustomFormBuilder, local: true do |f| %>
  <%= f.hidden_field :founder_id, value: current_user.id %>
  <div class="field">
  <%= f.label :name %><br>
  <%= f.text_field :name %>
  </div>
  <div class="field">
    <ul id="form_tags" class="tag_input"></ul>
  </div>
  <div class="field">
    <p class="bold">Image</p>
    <div class="post_img_area">
      <% if @community.img.attached? %>
        <%= image_tag @community.img, id: 'present_img' %>
      <% else %>
        <img id="no_img" src="https://kukuhana.s3-ap-northeast-1.amazonaws.com/no_img.jpg" />
      <% end %>
      <img id="new_img" src="#" class='hidden' />
      <label for="input_img" class="input_img">
        <p class="center upload_btn">Upload</p>
        <%= f.file_field :img, id: 'input_img' %>
      </label>
    </div>
  </div>
  <div class="field"> 
    <%= f.label :introduction %><br>
    <%= f.text_area :introduction %>
  </div>
  <div class="field">
    <%= f.check_box :remove_img %>
  </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>