<li>
  <%= link_to community_path(community) do %>
    <div class="inner_community top_3_wrapper">
      <p class="rank_number center bold" id="<%= top_3?(community_counter) %>">
        <%= community_counter + 1 %>
      </p>
      <%= render partial: "communities/community_img", locals: { community: community } %>    
      <div class="inner_community_data inline">
        <p class="inner_community_name bold inline"><%= community.name %></p>
        <p class="counts_status right">
          <%= icon("fas","users") %> <%= community.member_count %>
          <%= icon("fas","comments") %> <%= community.talk_count %>
        </p>
      </div>
    </div>
  <% end %>
</li>