<div class="side_content">
  <div>
    <h4><%= icon("fas", "tags") %> Menu (メニュー)</h4>
    <div class="side_inner_box">
      <p>
        Hi there! Come here to check in with your favorite communities
        and learn japanese with our Members!
      </p>
      <%= link_to 'create community', new_community_path(id: @community.id), class: 'block center create_btn' %>
    </div>
  </div>
</div>
<div class="side_content">
  <h4><%= icon("fas", "search") %> Search(けんさく)</h4>
  <%= search_form_for @q, url: search_communities_path, class: "search_form" do |f| %>
    <%= f.text_field :name_or_introduction_cont_any %>
    <%= f.button :type => "submit" do %>
      <%= icon("fas", "search") %>
    <% end %>
  <% end %>
</div>
<div class="side_content">
  <h4><%= icon("fas", "tags") %> Tags(タグ)</h4>
  <ul class="tags">
    <% if @tags.present? %>
      <%= render partial: 'tag', collection: @tags, as: :tag %>
    <% else %>
      <li>No tags....</li>
    <% end %>
  </ul>
</div>