<% content_for(:html_title) { "Communities Index" } %>
<% breadcrumb :communities, @communities %>
<div class="section_wrapper">
  <div class="main_section">
    <h1 class="center bold page_title">Communities Index</h1>
    <div class="community_index jscroll">
      <% if @communities.present? %>
      <%= render partial: 'community', collection: @communities, as: :community %>
      <% else %>
        <p class="center">No community...</p>
      <% end %>
    </div>
  </div>
  <div class="side_section community_page pc">
    <%= render 'side_section' %>
  </div>
</div>
<div class="user_menu_in_mobile hidden">
  <%= render "user_menu_in_mobile" %>
  <%= render "side_section" %>
</div>
<%= render "back_to_top_btn" %>