<div>
<h1>Create Community</h1>
  <%= form_with model: @community do |f| %>
    <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
    </div>
    <div class="field">
      <p>Image</p>
      <div class="post_img_area">
        <%= f.file_field :img, id: 'post_img' %>
        <% if @community.img %>
          <%= image_tag @community.img.to_s, class: 'present_Img' %>
        <% else %>
          <%= f.hidden_field :img_cache %>
        <img id="postImg_prev" src="https://kukuhana.s3-ap-northeast-1.amazonaws.com/no_img.jpg" />
        <% end %> 
        <p class="delete_img hidden">cancel</p>
      </div>
    </div>
    <div class="field"> 
      <%= f.label :introduction %><br>
      <%= f.text_area :introduction %>
    </div>
    <div class="field">
      <%= f.check_box :remove_img %>
    </div>
    <div class="actions">
      <%= f.submit "Create" %>
    </div>
  <% end %>
</div>