<h1><%= @community.name %></h1>
<p id="member_count_<%= @community.id %>"><%= render partial:'member_count', locals: {community: @community} %></p>
<div id="join_btn_<%= @community.id %>">
  <%= render partial:'join_btn' , locals: {community: @community} %>
</div>
<div class="row">
  <div id="form_talk" class="col-md-4 ">
    <%= link_to 'create talk', create_talk_from_community_path(@community), remote: true %>
    <%= link_to 'create community', create_community_path, remote: true %>
    <%= link_to 'community_index', communities_path %>
  </div>
  <div id="talk_index" class="col-md-8 jscroll">
    <%= render 'talks/index' %>
  </div>
</div>
