<%= link_to '戻る', communities_path %>
<h1><%= @community.name %></h1>
<p id="member_count_<%= @community.id %>">Member:<%= @community.users.count %></p>
<div class="section_wrapper">
  <div id="talk_index" class="main_section inline jscroll">
    <% if @talks.present? %>
       <%= render partial: 'talks/talk', collection: @talks, as: :talk %> 
    <% else %>
      <p>no talks...</p>
    <% end %>
  </div>
  <div class="side_section inline">
    <div class="side_content">
      <div id="join_btn_<%= @community.id %>">
        <%= render partial:'join_btn' , locals: {community: @community} %>
      </div>
      <p><%= @community.name %></p>
      <p><%= @community.introduction %></p>
      <p>member: <%= @community.users.count %></p>
      <p>talks: <%= @community.talks.count %></p>
      <p>community leader: </p>
    </div>
    <div class="side_content">
      <%= link_to 'community_index', communities_path, class: "center block" %>
      <p>・Tags</p>
      <ul class="tags">
        <% if @tags.present? %>
          <%= render partial: 'tag', collection: @tags, as: :tag %>
        <% else %>
          <li>No tags....</li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
