<div id="logo">
  <%= link_to "Japanepa.com", "/", id: "logo" %>
</div>
<ul class="header_link">
  <% if user_signed_in? %>
    <li class="menu_btn inline">
      <% if current_user.img.attached? %>
        <%= image_tag current_user.img, id: "header_user_img" %>
      <% else %>
        <%= icon("fas", "user") %>
      <% end %>
      <span><%= current_user.name %> (Lv.<%= @current_level || "1"%>)</span>
    </li>
    <li class="announce_btn inline">
      <%= link_to announcements_path do %>
        <%= icon("fas", "bell") %>
        <% unless @unchecked_announce_count.zero? %>
          <span class="unchecked_announce_count"><%= @unchecked_announce_count.nonzero? %></span>
        <% end %>
      <% end %>
    </li>
    <li class="to_do_list_btn inline">
      <%= link_to reviews_path do %>
        <%= icon("fas", "list") %>
        <% unless @not_done_reviews_count.zero? %>
          <span class="not_done_reviews_count"><%= @not_done_reviews_count.nonzero? %>
        <% end %>
      <% end %>
    </li>
    <li class="sp_menu_btn">
      <%= icon("fas", "bars") %>
      <% if (@unchecked_announce_count + @not_done_reviews_count) > 0 %>
        <span class="anounce_count"><%= @unchecked_announce_count + @not_done_reviews_count %></span>
      <% end %>
    </li>
    <li class="close_sp_menu_btn">
      Close
    </li>
    <% if user_signed_in? %>
      <li class="user_menu hidden">
        <%= link_to user_path(current_user) do %>
          <p><%= icon("fas", "address-card") %> Profile</p>
        <% end %>
        <%= link_to ranking_path(anchor: current_user.id) do %>
          <p><%= icon("fas", "crown") %> Ranking</p>
        <% end %>
        <%= link_to bookmarks_path do %>
          <p><%= icon("fas", "star") %> Bookmarks</p>
        <% end %>
        <%= link_to events_path do %>
          <p><%= icon("fas fa-fw", "calendar-alt") %> Calendar</p>
        <% end %>
        <p><%= icon("fas", "question-circle") %> Help</p>
        <p><%= icon("fas", "info-circle") %> About us</p>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <p><%= icon("fas", "sign-out-alt") %> Log out</p>
        <% end %>
      </li>
    <% end %>
  <% elsif admin_signed_in? %>
    <li class="admin_menu_btn">
      <%= icon("fas", "user-cog") %>
    </li>
    <%= render 'admin_menu'%>
  <% else %>
    <li class="inline">
      <%= link_to 'Log in', new_user_session_path, class: 'login bold' %>
    </li>
    <li class="inline">
      <%= link_to 'Register', new_user_registration_path, class: 'register bold' %>
    </li>
  <% end %>
</div>