<div id="logo">
  <%= link_to "Japanepa.com", "/", id: "logo" %>
</div>
<div class="header_link">
  <%= link_to 'Quiz', quizzes_path %>
  <%= link_to 'News', articles_path %>
  <% if user_signed_in? %>
    <div class="header_btn user">
      <% if current_user.img.attached? %>
        <%= image_tag current_user.img %>
      <% else %>
        <%= icon("fas", "user") %>
      <% end %>
    </div>
    <%= render 'user_menu'%>
  <% elsif admin_signed_in? %>
    <div class="header_btn user">
      <%= icon("fas", "user-cog") %>
    </div>
    <%= render 'user_menu'%>
  <% else %>
    <div class="inline">
      <%= link_to 'Log in', new_user_session_path, class: 'login bold' %>
    </div>
    <div class="inline">
      <%= link_to 'Register', new_user_registration_path, class: 'register bold' %>
    </div>
  <% end %>
</div>