<div id="logo">
  <%= link_to "Japanepa.com", "/", id: "logo" %>
</div>
<ul class="header_link pc">
  <% if user_signed_in? %>
    <li class="menu_btn">
      <% if current_user.img.attached? %>
        <%= image_tag current_user.img, id: "header_user_img" %>
      <% else %>
        <%= icon("fas", "user") %>
      <% end %>
      <span><%= current_user.name %> (Lv.<%= @current_level || "1"%>)</span>
    </li>
    <li>
      <%= link_to announcements_path do %>
        <%= icon("fas", "bell") %> <span class="unchecked_announce_count"><%= @unchecked_announce_count.nonzero? %></span>
      <% end %>
    </li>
    <%= render 'user_menu'%>
  <% elsif admin_signed_in? %>
    <li class="menu_btn">
      <%= icon("fas", "user-cog") %>
    </li>
    <%= render 'admin_menu'%>
  <% else %>
    <li class="inline">
      <%= link_to 'Log in', new_user_session_path, class: 'login bold' %>
    </li>
    <li class="inline">
      <%= link_to 'Register', new_user_registration_path, class: 'register bold' %>
    </li>
  <% end %>
</div>