<div class="socialBtn">
  <%= link_to "/users/auth/facebook", class: "facebook" do %>
    <%= icon("fab", "facebook-square") %> Sign up with Facebook
  <% end %>
</div>
<div class="socialBtn">
  <%= link_to "/users/auth/twitter",class: " twitter" do %>
    <%= icon("fab", "twitter") %> Sign up with Twitter
  <% end %>
</div>
<div class="socialBtn">
  <%= link_to "/users/auth/google_oauth2", class: "google" do %>
    <%= icon("fab", "google") %> Sign up with Google
  <% end %>
</div>