<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>
  <body>
    <header class="<%= header_color %>">
    <%= render 'layouts/header' %>
    </header>
    <div id="flash_wrapper"><%= render "layouts/flash" %></div>
    <section id="modalArea" class="modalArea">
      <%= render 'layouts/modal' %>
    </section>
    <div id="form" class="window"></div>
    <div class="main_wrapper">
      <p><%= breadcrumbs pretext: icon("fas", "map-marker-alt"),separator: " > " %></p>
      <%= yield %>
    </div>
    <footer>
      <p>&copy; <%= Time.current.year %> Japanepa.com</p>
    </footer>
  </body>
</html>

